SNI may incorrectly send hostname with trailing dot

Hostnames like `example.com` may also be written as `example.com.` Technically those are different because the trailing dot denotes it is an absolute name and not relative (so it would disable using the `search` path in `/etc/resolv.conf`, for example).

When using encryption, the user is always expected to provide the absolute name. SNI requires the absolute name, but _without_ the trailing dot. [RFC 6066 §3](https://tools.ietf.org/html/rfc6066.html#section-3) defines for SNI:

> The hostname is represented as a byte
   string using ASCII encoding without a trailing dot.

As discovered in grpc/grpc-java#4912, tcnative is sending the trailing dot in SNI. For certain server TLS implementations, this triggers a `ssl_unexpected_message` alert. Using SunJSSE it doesn't send SNI at all in this case. Using Conscrypt throws an exception with the message, "Server name value of host_name cannot have the trailing dot".

This is semi-minor bug because applications are sort of forced to remove the trailing dot themselves, due to the JDK behavior, but tcnative's behavior is clearly against the spec.

FWIW, in the same case Go still sends SNI, but trims the trailing dot.

@ejona86 this should be easy to fix... let me do this.

@ejona86 https://github.com/netty/netty-tcnative/pull/401